services:
  backend:
    build:
      context: ../../
      dockerfile: infra/docker/backend.Dockerfile
    volumes:
      - ../../backend:/app
    ports:
      - "8080:8080"
    env_file:
      - ../../backend/.env
    depends_on:
      - db

  frontend:
    build:
      context: ../../
      dockerfile: infra/docker/frontend.Dockerfile
    volumes:
      - ../../frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    env_file:
      - ../../frontend/.env.local
    depends_on:
      - backend

  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: ${POSTGRES_DB:-quote_db}
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    env_file:
      - ../.env

volumes:
  pgdata:
